/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

article p img {
     outline: 1px solid #dddddd;
     outline-offset: -1px;
}

input#search_input_react {
    border-radius: 0px;
    line-height: 31px;
    font-size: 14px;
    font-family: inherit;
    background-color: rgba(242, 196, 178, 0.25);
}

em {
    font-style: italic;
}

img + em {
    display: inherit;
    text-align: center;
    font-size: 80%;
    color: #666666;
}
