/* your custom css */

/* Images */

.imageAlignTop .blockImage {
    max-width: none;
    margin-bottom: -15px;
}

/* Search box */

.reactNavSearchWrapper input#search_input_react {
    border-radius: 20px;
    line-height: 31px;
    font-size: 14px;
    font-family: 'Montserrat';
    color: #F9F4F4;
    background-color: #1C86B3;
}

@media only screen and (max-width: 1024px) {
    .navSearchWrapper {
        top: 8px;
    }
}

/* Search icon */

.navSearchWrapper:before {
    border: 2px solid #F9F4F4;
    border-radius: 50%;
    content: ' ';
    display: block;
    height: 6px;
    left: 19px;
    position: absolute;
    top: 50%;
    transform: translateY(-58%);
    width: 6px;
    z-index: 1;
}

.navSearchWrapper:after {
    background: #F9F4F4;
    content: ' ';
    height: 7px;
    left: 28px;
    position: absolute;
    top: 55%;
    transform: rotate(-45deg);
    width: 2px;
    z-index: 1;
}

/* Navigation */

.navigationSlider .slidingNav ul li a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive a,
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
    color: #FFFFFF;
}

.navigationSlider .slidingNav ul li a {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    font-variant-caps: all-small-caps;
    color: #F9F4F4;
    background: #23A8E0;
}

.nav-footer {
    background: #000000;
}

/* Images and captions */
.post p img:first-child,
article p img:first-child {
    outline: 1px solid #dddddd;
    outline-offset: -1px;
    display: block;
    margin: auto;
}

.post p img:first-child+em,
article p img:first-child+em {
    display: inherit;
    text-align: center;
    font-size: 80%;
    color: #666666;
}

.post p img:not(:first-child),
article p img:not(:first-child) {
    display: inline;
    vertical-align: text-bottom;
    max-height: 24px;
}

.post em,
article em {
    font-style: italic;
}

.blockContent a {
    color: black;
}
